html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #4f4d5a;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: none;
}
